# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/

# БД
*.db
*.db-journal

# Node
node_modules/
dist/

# Окружение и секреты
.env
!.env.example

# Тестовые артефакты
jar.txt
coverage/

# OS / редакторы
.DS_Store
Thumbs.db
.idea/
.vscode/
